/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.img-small-avatar {
	width: 50px;
}

.img-small-ga {
	width: 185px;
	max-height: 85px;
	max-width: 100%;
}

.img-steam-game {
	width: 460px;
	max-height: 215px;
	max-width: 100%;
}

.img-small-icon {
	max-width: 25px;
	max-height: 25px;
}

.img-smallest-icon {
	max-width: 15px;
	max-height: 15px;
}

.search-button > img {
	max-height: 35px;
	position: relative;
	top : -5px;
}

.xx-small {
	font-size: xx-small;
}

.small-number-input {
	width: 35px;
}

.big-modal{
	width: 940px;
	margin-left: -470px;
}

.big-modal .modal-body {
	max-height: 90%;
}

@media (max-width: 979px) {
	.modal,
    .modal.big-modal {
		top: 1%;
		right: 1%;
		left: 1%;
		bottom: auto;
		width: auto !important;
		height: auto !important;
		margin: 0 !important;
		padding: 0 !important;
	}
}

.carousel-inner { text-align: left; }

.carousel .item > img { display: inline-block; }

.gray {
	color: gray;
}

.google-ads {
	text-align: center;
}

.gsc-input { /*google custom search input*/
	height : 20px !important;
}

.row-top-margin {
	margin-top: 50px;
}

.top-margin10 {
	margin-top: 10px;
}

.no-margin {
	margin : 0 !important;
}

.valign-profile-form {
	height: 130px;
	display: table-cell;
	vertical-align: middle;
	float: none;
}

.span2.valign {
	display: table-cell!important;
    vertical-align:middle;
}

.searchbox {
	margin-right: 50px;
}

.closed-admin-request:not(:hover) {
	background-color: #F3F3F3;
}

.entered h3 > a:not(:hover) {
	color: #A0F0A0;
}

#commentaires p img {
	max-height: 500px;
	max-width: 75%;
}

.alert-error-color, .alert-error-color > h4 {
	color : #B94A48 !important;
}

/*====================================
		 css for timepicker 
====================================== */
.ui-timepicker-div .ui-widget-header {
	margin-bottom: 8px;
}

.ui-timepicker-div dl {
	text-align: left;
}

.ui-timepicker-div dl dt {
	height: 25px;
	margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
	margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
	font-size: 90%;
}

.ui-tpicker-grid-label {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

.ui-timepicker-rtl {
	direction: rtl;
}

.ui-timepicker-rtl dl {
	text-align: right;
}

.ui-timepicker-rtl dl dd {
	margin: 0 65px 10px 10px;
}

.ui-datepicker-current {
	display: none;
}

.ui-datepicker {
	z-index: 10 !important;
}