/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.img-small-avatar {
	width: 50px;
}

.img-small-ga {
	width: 185px;
	max-height: 85px;
	max-width: 100%;
}

.img-steam-game {
	width: 460px;
	max-height: 215px;
	max-width: 100%;
}

.img-small-icon {
	max-width: 25px;
	max-height: 25px;
}

.xx-small {
	font-size: xx-small;
}

.small-number-input {
	width: 35px;
}

.big-modal{
   width:940px;
   max-width : 100%;
   margin-left:-470px;
}

.big-modal .modal-body {
	max-height: 90%;
}

.carousel-inner { text-align: left; }

.carousel .item > img { display: inline-block; }

.gray {
	color: gray;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
	margin-bottom: 8px;
}

.ui-timepicker-div dl {
	text-align: left;
}

.ui-timepicker-div dl dt {
	height: 25px;
	margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
	margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
	font-size: 90%;
}

.ui-tpicker-grid-label {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

.ui-timepicker-rtl {
	direction: rtl;
}

.ui-timepicker-rtl dl {
	text-align: right;
}

.ui-timepicker-rtl dl dd {
	margin: 0 65px 10px 10px;
}

.ui-datepicker-current {
	display: none;
}